{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Board{% endblock %}</h1>
{% endblock %}

{% block new_content %}
  <div class='update'>
    <form method='post'>
      <label for='link'>Link</label>
      <input name='link' id='link' value="{{ request.form['link'] }}" maxlength='4' required>
      <label for="title">Name</label>
      <input name="title" id="title" value="{{ request.form['title'] }}" maxlength='24' required>
      <label for="body">Description</label>
      <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
      <input type="submit" value="Save">
    </form>
  </div>
{% endblock %}